<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="microsoft.extensions.configuration" version="5.0.0" targetFramework="netstandard20" />
  <package id="microsoft.extensions.configuration.abstractions" version="5.0.0" targetFramework="netstandard20" />
  <package id="microsoft.extensions.configuration.fileextensions" version="5.0.0" targetFramework="netstandard20" />
  <package id="microsoft.extensions.configuration.json" version="5.0.0" targetFramework="netstandard21" />
  <package id="Microsoft.NETCore.App.Runtime.win-x64" version="5.0.1" />
  <package id="Microsoft.NETCore.App.Runtime.win-x86" version="5.0.1" />
</packages>